<a href="https://colab.research.google.com/github/8800110345/Pandas/blob/master/5way_to_create_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#how many way to create the dataframes
 #ans 5 ways
 #by using read_excel files
 # by using the read_csv files 
 # by using the dict
 #by using the tuples

In [3]:
#method 1  by using read excel
from google.colab import files
uploaded =files.upload()

Saving weatherdata.xls to weatherdata.xls

In [4]:
import pandas as pd
df=pd.read_excel('weatherdata.xls')
df

  2017-01-01 00:00:00  32  6   Rain
0          2017-01-02  35  7  Sunny
1          2017-01-03  28  2   Snow
2          2017-01-04  24  7   Snow
3          2017-01-05  32  4   Rain
4          2017-01-06  31  2  Sunny

In [6]:
#method 2 by using the read_csv
from google.colab  import files
uploaded=files.upload()

Saving price.csv to price.csv

In [7]:
import pandas as pd
df=pd.read_csv('price.csv')
df

   area   price
0  2000  500000
1  2600  550000
2  3000  565000
3  3200  610000
4  3600  680000
5  4000  725000

In [14]:
#method 3 by using dict
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [15]:
#  method 4 by using the tuples
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [18]:
#method 5
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow