<a href="https://colab.research.google.com/github/8800110345/Pandas/blob/master/Pandas_training1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
intro to pandas
series
data frame

#numpy pandas matplotlib sklearn
#pandas very very imp
-->data anlysis-->it requires lot of preprocessing (restructing,cleaning ,merge etc. )
-->data processing in fast way
-->numpy is required for operating the pandas
--load ,manipulate,prepare ,model,analyze
-->group by data aggression,transformation

--series(1d array) vs dataframe(2d array)
-->[10,20,30]   1d  series   no column has been added
-->[[10,20,30],[40,50,60]]   2d   datafarme

In [ ]:
# series-->1 d array
# series -->create--array,dic,scalar value

In [11]:
 import  numpy as np
 x=np.array([10,20,30,40,50])
 print(x)

[10 20 30 40 50]

In [12]:
import pandas as pd
import numpy as np
x=np.array([10,20,30,40])   #list
print(x)             # 10 20 30 40

a=pd.Series(x)
print(a)

[10 20 30 40]
0    10
1    20
2    30
3    40
dtype: int64

In [14]:
#create pandas by using dict
import pandas as pd
import numpy as np
x={10:0,20:1,30:2,40:4}
print(x)

a=pd.Series(x)
print(a)

{10: 0, 20: 1, 30: 2, 40: 4}
10    0
20    1
30    2
40    4
dtype: int64

In [24]:
#by using scalar
import pandas as pd
#import numpy as np
x=pd.Series([10,20,30,40],index=[0,1,2,3])
print(x)

0    10
1    20
2    30
3    40
dtype: int64